* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  min-width: 1200px;
  min-height: 100vh;
  font-family: "Segoe UI", "PingFang SC", "Microsoft YaHei", sans-serif;
  color: #243b53;
  background: #f5f7fb;
}
